In [28]:
%reload_kedro /home/ubuntu/dmc_2014/dmcfeatures
import pandas as pd
import numpy as np
parameters = catalog.load("parameters")

"""arts_ret_p = catalog.load("arts_ret_p")
lookup_ret_perc_art = catalog.load("lookup_ret_perc_art")
lookup_basket_ret_p = catalog.load("lookup_basket_ret_p")
lookup_basket_occ = catalog.load('lookup_basket_occ')
lookup_lift_arts = catalog.load("lookup_lift_arts")
lookup_tot_ord = catalog.load("lookup_tot_ord")
arts_used_ret_p = catalog.load("arts_used_ret_p")"""

orders = catalog.load("orders_full")
time_features = catalog.load("time_features")
rest_features = catalog.load("rest_features")

orders_features = catalog.load("orders_features")

2022-03-10 15:48:15,569 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2022-03-10 15:48:15,605 - root - INFO - ** Kedro project DMCFeatures
2022-03-10 15:48:15,606 - root - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2022-03-10 15:48:15,607 - kedro.io.data_catalog - INFO - Loading data from `parameters` (MemoryDataSet)...
2022-03-10 15:48:15,608 - kedro.io.data_catalog - INFO - Loading data from `orders_full` (PickleDataSet)...
2022-03-10 15:48:15,817 - kedro.io.data_catalog - INFO - Loading data from `time_features` (PickleDataSet)...
2022-03-10 15:48:15,836 - kedro.io.data_catalog - INFO - Loading data from `rest_features` (PickleDataSet)...
2022-03-10 15:48:16,008 - kedro.io.data_catalog - INFO - Loading data from `orders_features` (PickleDataSet)...

In [17]:
target_feats = {"train_val": {}, "train_test": {}}
sets = target_feats.keys()
# orders_features[orders_features["val_set"]==1].index.to_list() #+ orders_features[orders_features["val_set"]==0].index

In [20]:
for subset in sets:
    print(subset)
    if subset == "train_test":
        print("yj")

train_val
train_test
yj

In [13]:
"""orders.shape[0] - 2*(orders["val_set"]==1).sum()
orders[orders["orderDate"]=="2013-03-06"]
orders.loc[orders.shape[0]-2*50078:]
orders.loc[430871:]"""

'orders.shape[0] - 2*(orders["val_set"]==1).sum()\norders[orders["orderDate"]=="2013-03-06"]\norders.loc[orders.shape[0]-2*50078:]\norders.loc[430871:]'

In [14]:
# arts_used_ret_p["min_5_top_5_sqrt_w_lift"].dropna().mean()
# arts_used_ret_p["min_5_top_5_sqrt_w_lift"][arts_used_ret_p["min_5_top_5_sqrt_w_lift"]>0].mean()

## Content
* not much used: in future to check different configs per article

In [75]:
"""basket_arts = orders[(orders["orderDate"]=='2012-04-03')&(orders["customerID"]==1359)&
      (orders["itemID"].isin(lookup_basket_ret_p[5][688].index))]"""

'basket_arts = orders[(orders["orderDate"]==\'2012-04-03\')&(orders["customerID"]==1359)&\n      (orders["itemID"].isin(lookup_basket_ret_p[5][688].index))]'

In [10]:
import category_encoders as ce

In [13]:
orders.salutation.value_counts()/orders.shape[0]

Mrs             0.960964
Mr              0.033917
Family          0.003734
Company         0.000693
not reported    0.000691
Name: salutation, dtype: float64

### state

In [ ]:
saluts = {}
for salut in orders.salutation.unique():
    saluts[salut] = min(orders[orders["salutation"]==salut].index)

In [65]:
saluts = orders.salutation.value_counts()

Mrs             510298
Mr               18011
Family            1983
Company            368
not reported       367
Name: salutation, dtype: int64

In [117]:
enc = ce.basen.BaseNEncoder(base=45)

In [118]:
enc.fit(orders.salutation)
res1 = enc.transform(orders.salutation)

In [108]:
examp = ["was", "geht", "denn", "ab", "hier"]

In [109]:
enc = ce.basen.BaseNEncoder()
enc = enc.fit(examp)
res2 = enc.transform(examp)

In [110]:
round(res2, 4)

   0_0  0_1  0_2
0    0    0    1
1    0    1    0
2    0    1    1
3    1    0    0
4    1    0    1

In [ ]:
for col in polencs.columns:
    print(round(polencs[col], 4).sort_values().unique())

In [60]:
# orders

In [50]:
polenc = ce.helmert.HelmertEncoder()
polenc.fit(orders.state)
polencs = polenc.transform(orders.state)
polencs

,intercept,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,state_10,state_11,state_12,state_13,state_14
0,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,1,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,1,0.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531022,1,0.0,0.0,0.0,0.0,5.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
531023,1,0.0,0.0,0.0,0.0,5.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
531024,1,0.0,0.0,0.0,4.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
531025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
531026,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [51]:
polencs["state_14"].unique()

array([-1., 15.])

In [64]:
["was"]*4+["dass"]*

['was', 'was', 'was', 'was']

In [ ]:
polynomial.PolynomialEncoder()
helmert.HelmertEncoder()
backward_difference.BackwardDifferenceEncoder()

In [63]:
polenc = ce.backward_difference.BackwardDifferenceEncoder()
polenc.fit(orders.state)
polencs = polenc.transform(orders.state)
polencs

,intercept,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,state_10,state_11,state_12,state_13,state_14
0,1,-0.9375,-0.875,-0.8125,-0.75,-0.6875,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
1,1,-0.9375,-0.875,-0.8125,-0.75,-0.6875,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
2,1,-0.9375,-0.875,-0.8125,-0.75,-0.6875,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
3,1,0.0625,-0.875,-0.8125,-0.75,-0.6875,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
4,1,0.0625,0.125,-0.8125,-0.75,-0.6875,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531022,1,0.0625,0.125,0.1875,0.25,0.3125,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
531023,1,0.0625,0.125,0.1875,0.25,0.3125,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
531024,1,0.0625,0.125,0.1875,0.25,-0.6875,-0.625,-0.5625,-0.5,-0.4375,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
531025,1,0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5,0.5625,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625
531026,1,0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5,0.5625,-0.375,-0.3125,-0.25,-0.1875,-0.125,-0.0625

In [1]:
catenc = CatBoostEncoder()
catenc.fit(train[cat_catboost[:3]], train["returnShipment"])
catboosted = catenc.transform(orders[cat_catboost[:3]])

# generate df with filled nas
imp_frame = pd.DataFrame(index = orders.index, columns = ret_p_cols+"_Imp").fillna(1)

NameError: name 'CatBoostEncoder' is not defined

In [ ]:
non_na = arts_ret_p["min_5_top_5_sqrt_w_lift"].dropna().index
# [arts_ret_p["min_5_top_5_sqrt_w_lift"].dropna()]

In [ ]:
no_retp = orders.drop(arts_ret_p["min_5_top_5_sqrt_w_lift"].dropna().index)
retp_na = orders.loc[arts_ret_p["min_5_top_5_sqrt_w_lift"][arts_ret_p["min_5_top_5_sqrt_w_lift"].isna()].index]

In [ ]:
features = pd.DataFrame({**rest_features, **time_features})
orders_features = pd.merge(orders, features, right_index = True, left_index = True)
# pd.merge(orders_features, ret_p_frame, right_index = True, left_index = True, how="left")

In [40]:
# features.apply(lambda x: x.fillna(x.mean()))

In [ ]:
for key in orders["salutation"].unique():
    print(orders[(orders["val_set"]==0)&(orders["salutation"]==key)]["returnShipment"].mean())
for key in orders["salutation"].unique():
    print(orders[(orders["val_set"]==1)&(orders["salutation"]==key)]["returnShipment"].mean())

In [ ]:
# df = feature_frame[feature_frame['BELEGDATUM']<pd.Timestamp(parameters['first_pred_date'])]
# test_df = feature_frame[feature_frame['BELEGDATUM']>=pd.Timestamp(parameters['first_pred_date'])]